
/* Speler sectie */
.players {
  margin: 2rem auto;
  background-color: #0f0f0f;
  color: #35ff2b;
  padding: 1rem 2rem;
  width: fit-content;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Memory kaarten */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  list-style: none;
}

.cards li {
  flex: 1 0 150px;
  display: flex;
  justify-content: center;
}

.memory-cards {
  width: 6rem;
  height: 9rem;
  position: relative;
  perspective: 1000px;
}

/* Achterkant van de kaart */
.back {
  width: 6rem;
  height: 9rem;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 0 0 10px #35ff2b88;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

/* Voorzijde van de kaart */
.card {
  display: block;
  max-width: 5.5rem;
  max-height: 8.5rem;
  margin: 0 auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.front{
  width: 6rem;
  height: 9rem;
  background-color: #000;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 0 0 10px #35ff2b88;
}

/* Verborgen kaart */
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 9rem;
  backface-visibility: hidden;
  transition: opacity 0.5s ease;
  border-radius: 8px;
}

.hidden{
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

