body{
    background-color: rgb(53, 255, 43);
}
h1{
    margin: 2rem;
}

/*nav*/
.navigatie{
  list-style: none;
  background-color: black;
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.navigatie a{
  font-style: none;
  color: rgb(53, 255, 43);
  font-size: 2rem;
}

/*players*/
.players{
    margin: 2rem;
    background-color: black;
    color: rgb(53, 255, 43);
    padding: 1rem 2rem;
}

/*cards*/
.card{
    display: block;
    max-width: 6rem;
    max-height: 9rem;
    padding: 0;
    margin: 0 auto;
}
.back{
    display: block;
    width: 6rem;
    height: 9rem;
    margin: 0 auto;
    padding: 0;
    border-style: solid;
    border-width: 5px;
  border-color: black;
  border-radius: 5%;
}
.memory-cards{
    width: 6rem;
    margin: 0 auto;
}
.cards li{
    flex: 1 0 21%;
  box-sizing: border-box;
}
.cards{
    display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin: auto;
  list-style: none;
}


.hidden{
    display: none;
}